# 数据库配置
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=root_password
MYSQL_DATABASE=django06g8e

# Django配置
DJANGO_SETTINGS_MODULE=dj2.settings
DEBUG=True
SECRET_KEY=w5yn#0gn2tt7pvu%hvwt0!lt=!$6+eqp4%m8)u3u#gknm@jm)k

# 服务器配置
PORT=8080
HOST=0.0.0.0 